@using WebApplication_C.Classes


@{
    Layout = null;
}


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Opakkkkk</title>
</head>
<body>
    <div>
        <p>Olá kkkkkkkkkk</p>
    </div>
</body>
</html>