@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form action="~/Site/Metodos/MostrarMetodos.cshtml" method="post">
        <input type="submit" name="Button" value="Enviar" />
    </form>
</body>
</html>
