@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="">

<head>
    <meta charset="UTF-8">
    <title>Kabonga!</title>
    <link rel="stylesheet" href="~/CSS/KabongaStyles.css" />
    <link rel="icon" type="image/x-icon" href="~/kabonga.icon.png">
</head>

<body>
    <div class="border-apresentacao2">
        <img id="banner" src="~/Imagens/banner.jpg">
        <ul class="ul">
            <div class="border-apresentacao">
                <p>O melhor e-commerce online</p>
                <p>de eletrônicos do <strong>Brasil!</strong></p>
            </div>
        </ul>
    </div>
    <header>
        <div>
            <h1 class="titulo">Bem-vindo ao</h1>
            <h1 class="titulo-background">KABONGA!</h1>
            <div class="p-espacamento">
                <ul class="info-line">
                    <div class="info-options">
                        <a href="~/Site/Produtos.cshtml"><strong>Produtos</strong></a>
                    </div>
                    <div class="info-options">
                        <a href="#mais-vendidos-id"><strong>Mais-Vendidos</strong></a>
                    </div>
                    <div class="info-options">
                        <a href="#destaques"><strong>Destaques</strong></a>
                    </div>
                    <div class="info-options">
                        <a href="#lancamentos"><strong>Lançamentos</strong></a>
                    </div>
                    <div class="info-options">
                        <a href="~/Site/Sobre.cshtml" target="_blank"><strong>Sobre</strong></a>
                    </div>
                    <div class="info-options">
                        <a href="~/Site/Login.cshtml" target="_blank"><strong>Login/Cadastro</strong></a>
                    </div>
                </ul>
            </div>
        </div>
    </header>
    <div>
        <div class="p-espacamento2"></div>
        <h2 class="mais-vendidos" id="mais-vendidos-id">Mais Vendidos</h2>
        <div>
            <div class="notebook-espacamento">
                <img src="~/Imagens/notebookKabonga.png" alt="Notebook" id="notebook">
                <p class="mais-vendidos-letterLayout">Notebook HP Intel Core i3 8GB</p>
                <p class="mais-vendidos-letterLayout">256GB SSD 15,6” - HD Windows 11</p>
                <p class="mais-vendidos-letterLayout">256 G8 </p><br>
                <p class="mais-vendidos-letterLayout"><strong>R$ 2.699,10</strong></p>
            </div>
            <div class="notebook-espacamento">
                <img src="~/Imagens/teclado+mouseRedragon.png" alt="Teclado + Mouse" id="notebook">
                <p class="mais-vendidos-letterLayout">Teclado Mecânico Kumara, RGB,</p>
                <p class="mais-vendidos-letterLayout">Switch Outemu Blue, PT, Branco</p>
                <p class="mais-vendidos-letterLayout">+ Mouse Cobra M711, Branco</p><br>
                <p class="mais-vendidos-letterLayout"><strong>R$ 349,90</strong></p>
            </div>
            <div class="notebook-espacamento">
                <img src="~/Imagens/headsetSharkoon.png" alt="HeadSet" id="notebook">
                <p class="mais-vendidos-letterLayout">Headset Gamer Sharkoon Skiller</p>
                <p class="mais-vendidos-letterLayout">SGH30, Drivers 40mm</p>
                <p class="mais-vendidos-letterLayout">SGH30</p><br>
                <p class="mais-vendidos-letterLayout"><strong>R$ 149,90</strong></p>
            </div>
        </div>
        <div>
            <div class="notebook-espacamento">
                <img src="~/Imagens/monitorGamer.png" alt="Monitor" id="notebook">
                <p class="mais-vendidos-letterLayout">Monitor Gamer 34 LED Ultra Wide</p>
                <p class="mais-vendidos-letterLayout">165 Hz, QHD, HDMI/DisplayPort</p>
                <p class="mais-vendidos-letterLayout">HDR 10, VESA, Preto - 34WP65C-B</p><br>
                <p class="mais-vendidos-letterLayout"><strong>R$ 3.199,90</strong></p>
            </div>
            <div class="notebook-espacamento">
                <img src="~/Imagens/caixaDeSom.png" alt="CaixaDeSom" id="notebook">
                <p class="mais-vendidos-letterLayout">Caixa de Som Gamer Husky</p>
                <p class="mais-vendidos-letterLayout">Gaming Storm, Preto, 6W, USB</p>
                <p class="mais-vendidos-letterLayout">/ P2, Rainbow - HGMK000</p><br>
                <p class="mais-vendidos-letterLayout"><strong>R$ 64,90</strong></p>
            </div>
            <div class="notebook-espacamento">
                <img src="~/Imagens/pcGamer.png" alt="PcGamer" id="notebook">
                <p class="mais-vendidos-letterLayout">PC Gamer On Gaming Powered</p>
                <p class="mais-vendidos-letterLayout">By Asus i5 10400F, RTX 3050 8GB</p>
                <p class="mais-vendidos-letterLayout">16GB, SSD M.2 480GB - Linux</p><br>
                <p class="mais-vendidos-letterLayout"><strong>R$ 6.299,90</strong></p>
            </div>
        </div>
    </div>
    <div>
        <h2 class="mais-vendidos" id="destaques">Destaques</h2>
        <div>
            <div class="notebook-espacamento">
                <img src="~/Imagens/placaDeVideo.png" alt="Notebook" id="notebook">
                <p class="mais-vendidos-letterLayout">Placa de Vídeo Zotac NVIDIA</p>
                <p class="mais-vendidos-letterLayout">GeForce RTX 3070 Ti TRINITY LHR</p>
                <p class="mais-vendidos-letterLayout">19 Gbps, 8GB GDDR6X</p><br>
                <p class="mais-vendidos-letterLayout"><strong>R$ 6.299,90</strong></p>
            </div>
            <div class="notebook-espacamento">
                <img src="~/Imagens/placaDeVideo2.png" alt="Teclado + Mouse" id="notebook">
                <p class="mais-vendidos-letterLayout">Placa de Vídeo Asus NVIDIA</p>
                <p class="mais-vendidos-letterLayout">GeForce TUF GTX 1660 Super</p>
                <p class="mais-vendidos-letterLayout">O6G Gaming OC, 6GB GDDR6</p><br>
                <p class="mais-vendidos-letterLayout"><strong>R$ 2.099,90</strong></p>
            </div>
            <div class="notebook-espacamento">
                <img src="~/Imagens/cadeiraGamer.png" alt="HeadSet" id="notebook">
                <p class="mais-vendidos-letterLayout">Cadeira Gamer ThunderX3</p>
                <p class="mais-vendidos-letterLayout">TGC12, Black</p>
                <p class="mais-vendidos-letterLayout">.</p><br>
                <p class="mais-vendidos-letterLayout"><strong>R$ 1.299,00</strong></p>
            </div>
        </div>
        <div>
            <div class="notebook-espacamento">
                <img src="~/Imagens/kitProcessador.png" alt="KitProcessador" id="notebook">
                <p class="mais-vendidos-letterLayout">Kit Processador AMD Ryzen</p>
                <p class="mais-vendidos-letterLayout">9 5900X, Cache 70MB, 3.7GHz</p>
                <p class="mais-vendidos-letterLayout">Sem Vídeo + Placa-Mãe Asus TUF</p><br>
                <p class="mais-vendidos-letterLayout"><strong>R$ 3.599,90</strong></p>
            </div>
            <div class="notebook-espacamento">
                <img src="~/Imagens/smartwatchHuawei.png" alt="SmartWatch" id="notebook">
                <p class="mais-vendidos-letterLayout">Smartwatch Huawei Watch Fit 2</p>
                <p class="mais-vendidos-letterLayout">Bluetooth, GPS</p>
                <p class="mais-vendidos-letterLayout">Monitoramento do Sono, Preto</p><br>
                <p class="mais-vendidos-letterLayout"><strong>R$ 799,00</strong></p>
            </div>
            <div class="notebook-espacamento">
                <img src="~/Imagens/gabineteRise.png" alt="Gabinete" id="notebook">
                <p class="mais-vendidos-letterLayout">Gabinete Rise Mode Glass 06</p>
                <p class="mais-vendidos-letterLayout">Frente e Lateral em Vidro</p>
                <p class="mais-vendidos-letterLayout">Preto - RM-CA-06-FB</p><br>
                <p class="mais-vendidos-letterLayout"><strong>R$ 259,90</strong></p>
            </div>
        </div>
    </div>
    <div>
        <h2 class="mais-vendidos" id="lancamentos">Lançamentos</h2>
        <div>
            <div class="notebook-espacamento">
                <img src="~/Imagens/ImagemLancamentos/ssdKingston.png" alt="SSD" id="notebook">
                <p class="mais-vendidos-letterLayout">SSD Kingston A400, 240GB</p>
                <p class="mais-vendidos-letterLayout">SATA, Leitura 500MB/s</p>
                <p class="mais-vendidos-letterLayout">Gravação 350MB/s - SA400S37</p><br>
                <p class="mais-vendidos-letterLayout"><strong>R$ 169,90</strong></p>
            </div>
            <div class="notebook-espacamento">
                <img src="~/Imagens/ImagemLancamentos/televisaoSSG.png" alt="Televisão" id="notebook">
                <p class="mais-vendidos-letterLayout">Samsung Smart TV 43 UHD</p>
                <p class="mais-vendidos-letterLayout">4K 43AU7700, Processador Crystal</p>
                <p class="mais-vendidos-letterLayout">Tela sem limites, Alexa Built In</p><br>
                <p class="mais-vendidos-letterLayout"><strong>R$ 2.199,00</strong></p>
            </div>
            <div class="notebook-espacamento">
                <img src="~/Imagens/ImagemLancamentos/tabletLenovo.png" alt="Tablet" id="notebook">
                <p class="mais-vendidos-letterLayout">Tablet Lenovo Tab P11 Plus</p>
                <p class="mais-vendidos-letterLayout">64GB, 4G, Wifi, Tela 11</p>
                <p class="mais-vendidos-letterLayout">Android 11, Grafite - ZA9L0313BR</p><br>
                <p class="mais-vendidos-letterLayout"><strong>R$ 1.619,10</strong></p>
            </div>
        </div>
        <div>
            <div class="notebook-espacamento">
                <img src="~/Imagens/kitProcessador.png" alt="KitProcessador" id="notebook">
                <p class="mais-vendidos-letterLayout">Tablet Lenovo Tab P11 Plus</p>
                <p class="mais-vendidos-letterLayout">64GB, 4G, Wifi, Tela 11</p>
                <p class="mais-vendidos-letterLayout">Android 11, Grafite - ZA9L0313BR</p><br>
                <p class="mais-vendidos-letterLayout"><strong>R$ 3.599,90</strong></p>
            </div>
            <div class="notebook-espacamento">
                <img src="~/Imagens/smartwatchHuawei.png" alt="SmartWatch" id="notebook">
                <p class="mais-vendidos-letterLayout">Smartwatch Huawei Watch Fit 2</p>
                <p class="mais-vendidos-letterLayout">Bluetooth, GPS</p>
                <p class="mais-vendidos-letterLayout">Monitoramento do Sono, Preto</p><br>
                <p class="mais-vendidos-letterLayout"><strong>R$ 799,00</strong></p>
            </div>
            <div class="notebook-espacamento">
                <img src="~/Imagens/gabineteRise.png" alt="Gabinete" id="notebook">
                <p class="mais-vendidos-letterLayout">Gabinete Rise Mode Glass 06</p>
                <p class="mais-vendidos-letterLayout">Frente e Lateral em Vidro</p>
                <p class="mais-vendidos-letterLayout">Preto - RM-CA-06-FB</p><br>
                <p class="mais-vendidos-letterLayout"><strong>R$ 259,90</strong></p>
            </div>
        </div>
    </div>
    <div class="suporte-banner">
        <p style="font-weight: bold;">
            Suporte Kabonga!
        </p>
        <p>
            Entre em contato conosco: 0800 045 5003
        </p>
        <p>
            Caso prefira, <a href="~/Site/Suporte.cshtml" target="_blank" class="suporte-link"
                             style="text-decoration:underline;">clique aqui.</a>
        </p>
        <p style="font-size: 11px;">Copyright © Todos os direitos reservados.</p>
    </div>
</body>

</html>