@using WebApplication_C.Classes

@{
    var mensagem = "";
    var mensagemInvalido = "";
    Layout = null;
    BancoDeDados.DBConnect();
}





<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="~/CSS/Login.css">
    <link rel="stylesheet" href="~/CSS/Sobre.css">
    <link rel="icon" type="image/x-icon" href=~/kabonga.icon.png>
</head>

<body>
    <div class="border-apresentacao">
        <header>Login</header>
        <div class="p-espacamento"></div>
    </div>
    <div style="margin-top: 30px;">
        <div class="border-login">
            <form method="post" action="">
                <p class="div-login-passw">Não possui Login? Cadastre-se agora mesmo!</p><br>
                <p class="div-login-passw" style="font-weight: bold;">E-mail:</p>
                <input type="text" name="cadastroEmail" id="">
                <p class="div-login-passw" style="font-weight: bold;">Nome:</p>
                <input type="text" name="cadastroNome" id="">
                <p class="div-login-passw" style="font-weight: bold;">Login:</p>
                <input type="text" name="cadastroLogin" id="">
                <p class="div-login-passw" style="font-weight: bold;">Senha:</p>
                <input type="password" name="cadastroSenha" id="">
                <p class="div-login-passw" style="font-weight: bold;">Confirmar Senha:</p>
                <input type="password" name="confirmarSenha" id=""><br>
                <button onclick="@{mensagem = CadastrarUsuario();}">Cadastrar</button>
            </form>
            <p style="font-weight: bold; color: red">@mensagem</p>
        </div>
        <div class="border-login">
            <form method="post">
                <p class="div-login-passw">Se já possui, Logue abaixo!</p><br>
                <p class="div-login-passw" style="font-weight: bold;">Login:</p>
                <input type="text" name="login" id="">
                <p class="div-login-passw" style="font-weight: bold;">Senha:</p>
                <input type="password" name="loginSenha" id=""><br>
                <button onclick="@{mensagemInvalido = LogarUsuario();}">Acessar</button>
            </form>
            <p style="font-weight: bold; color: red;">@mensagemInvalido</p>
        </div>
    </div>
    <div class="p-espacamento2"></div>
    <div class="suporte-banner">
        <p style="font-weight: bold;">
            Suporte Kabonga!
        </p>
        <p>
            Entre em contato conosco: 0800 045 5003
        </p>
        <p>
            Caso prefira, <a href="~/Site/Suporte.cshtml" target="_blank" class="suporte-link" style="text-decoration:underline;">clique aqui.</a>
        </p>
        <p style="font-size: 11px;">Copyright © Todos os direitos reservados.</p>
    </div>
</body>

</html>



@functions{
    public string CadastrarUsuario()
    {
        if (Request.Form["cadastroSenha"] == null)
            return "";
        string senha = Request.Form["cadastroSenha"];
        string compara = Request.Form["confirmarSenha"];
        if (senha == compara)
        {
            BancoDeDados.Cadastro(Request.Form["cadastroNome"], Request.Form["cadastroLogin"], Request.Form["cadastroEmail"], Request.Form["cadastroSenha"]);
            return "";
        }
        else
        {
            return "As senhas não coincidem";
        }
    }

    public string LogarUsuario()
    {
        if (Request.Form["loginSenha"] == null)
            return "";

        if (BancoDeDados.Login(Request.Form["login"], Request.Form["loginSenha"]))
        {
            Response.Redirect("~/Site/indexKabonga.cshtml");
        }

        return "Algo deu errado";
    }
}