@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Produtos - Kabonga!</title>
    <link rel="stylesheet" href="~/CSS/Produtos.css">
    <link rel="icon" type="image/x-icon" href="~/kabonga.icon.png">
</head>

<body>
    <div class="border-apresentacao">
        <header>Produtos</header>
        <div class="p-espacamento"></div>
    </div>
    <div>
        <p class="head-type">Computadores</p>
        <div>
            <div class="notebook-espacamento">
                <img src="~/Imagens/ImagemProdutos/Pcs/pcGamerConcordia.png" alt="PcGamer" id="notebook">
                <p class="mais-vendidos-letterLayout">PC Gamer Concórdia Processador</p>
                <p class="mais-vendidos-letterLayout">Core i5-10400F, RGB, Geforce</p>
                <p class="mais-vendidos-letterLayout">GTX1650, 8GB, SSD 480GB</p><br>
                <p class="mais-vendidos-letterLayout"><strong>R$ 4.559,90</strong></p>
            </div>
            <div class="notebook-espacamento">
                <img src="~/Imagens/ImagemProdutos/Pcs/pcGamerI7.png" alt="PcGamer" id="notebook">
                <p class="mais-vendidos-letterLayout">PC Gamer Concórdia Core</p>
                <p class="mais-vendidos-letterLayout">i7-10700F, Geforce RTX3060 12GB</p>
                <p class="mais-vendidos-letterLayout">16GB RAM, SSD 500GB</p><br>
                <p class="mais-vendidos-letterLayout"><strong>R$ 8.999,90</strong></p>
            </div>
            <div class="notebook-espacamento">
                <img src="~/Imagens/ImagemProdutos/Pcs/pcGamerSkull.png" alt="PcGamer" id="notebook">
                <p class="mais-vendidos-letterLayout">PC Gamer Skul 3000 I3-10100F</p>
                <p class="mais-vendidos-letterLayout">Radeon RX 550, 8GB DDR4</p>
                <p class="mais-vendidos-letterLayout">SSD 240GB, 500W PFC ATIVO</p><br>
                <p class="mais-vendidos-letterLayout"><strong>R$ 2.999,90</strong></p>
            </div>
        </div>
    </div>
    <div>
        <p class="head-type">Mouses</p>
        <div>
            <div class="notebook-espacamento">
                <img src="~/Imagens/ImagemProdutos/Mouses/mouseGamerRedDragon.png" alt="Mouse" id="notebook">
                <p class="mais-vendidos-letterLayout">Mouse Gamer Redragon Cobra</p>
                <p class="mais-vendidos-letterLayout">Chroma RGB, 12400DPI</p>
                <p class="mais-vendidos-letterLayout">7 Botões, Preto - M711 V2</p><br>
                <p class="mais-vendidos-letterLayout"><strong>R$ 119,90</strong></p>
            </div>
            <div class="notebook-espacamento">
                <img src="/Imagens/ImagemProdutos/Mouses/mouseGamerRedDragon.png" alt="Mouse" id="notebook">
                <p class="mais-vendidos-letterLayout">Mouse Gamer Redragon</p>
                <p class="mais-vendidos-letterLayout">Centrophorus 2 RGB, 7200DPI</p>
                <p class="mais-vendidos-letterLayout">6 Botões, Preto - M601-RGB</p><br>
                <p class="mais-vendidos-letterLayout"><strong>R$ 69,90</strong></p>
            </div>
            <div class="notebook-espacamento">
                <img src="/Imagens/ImagemProdutos/Mouses/mouseCorsair.png" alt="Mouse" id="notebook">
                <p class="mais-vendidos-letterLayout">Mouse Gamer Corsair M65</p>
                <p class="mais-vendidos-letterLayout">Elite, RGB, 8 Botões, 18000D</p>
                <p class="mais-vendidos-letterLayout">Preto - CH-9309011-NA</p><br>
                <p class="mais-vendidos-letterLayout"><strong>R$ 315,90</strong></p>
            </div>
        </div>
    </div>
    <div>
        <p class="head-type">Teclados</p>
        <div>
            <div class="notebook-espacamento">
                <img src="~/Imagens/ImagemProdutos/Teclados/tecladoMecanico.png" alt="Teclado" id="notebook">
                <p class="mais-vendidos-letterLayout">Teclado Mecânico Gamer HyperX</p>
                <p class="mais-vendidos-letterLayout">Mars RGB, Switch Outemu</p>
                <p class="mais-vendidos-letterLayout">Blue, US - HX-KB3BL3</p><br>
                <p class="mais-vendidos-letterLayout"><strong>R$ 299,90</strong></p>
            </div>
            <div class="notebook-espacamento">
                <img src="~/Imagens/ImagemProdutos/Teclados/tecladoGamerHyperX.png" alt="Teclado" id="notebook">
                <p class="mais-vendidos-letterLayout">Teclado Gamer HyperX</p>
                <p class="mais-vendidos-letterLayout">Alloy Core, RGB, ABNT2</p>
                <p class="mais-vendidos-letterLayout">HX-KB5ME2-BR</p><br>
                <p class="mais-vendidos-letterLayout"><strong>R$ 219,90</strong></p>
            </div>
            <div class="notebook-espacamento">
                <img src="~/Imagens/ImagemProdutos/Teclados/tecladoAlloy.png" alt="Teclado" id="notebook">
                <p class="mais-vendidos-letterLayout">Teclado Mecânico Gamer HyperX</p>
                <p class="mais-vendidos-letterLayout">Alloy Origins Core, RGB</p>
                <p class="mais-vendidos-letterLayout">Switch HyperX Red, ABNT2</p><br>
                <p class="mais-vendidos-letterLayout"><strong>R$ 579,90</strong></p>
            </div>
        </div>
    </div>
    <div>
        <p class="head-type">Headsets</p>
        <div>
            <div class="notebook-espacamento">
                <img src="~/Imagens/ImagemProdutos/Headsets/headSetFallen.png" alt="Headset" id="notebook">
                <p class="mais-vendidos-letterLayout">Headset Gamer Fallen Morcego</p>
                <p class="mais-vendidos-letterLayout">Surround Virtual 7.1</p>
                <p class="mais-vendidos-letterLayout">Cancelamento de Ruído</p><br>
                <p class="mais-vendidos-letterLayout"><strong>R$ 399,90</strong></p>
            </div>
            <div class="notebook-espacamento">
                <img src="~/Imagens/ImagemProdutos/Headsets/headsetASTRO.png" alt="Headset" id="notebook">
                <p class="mais-vendidos-letterLayout">Headset ASTRO Gaming A10</p>
                <p class="mais-vendidos-letterLayout">Nintendo Switch, PC e Xbox</p>
                <p class="mais-vendidos-letterLayout">Branco/Azul - 939</p><br>
                <p class="mais-vendidos-letterLayout"><strong>R$ 219,90</strong></p>
            </div>
            <div class="notebook-espacamento">
                <img src="~/Imagens/ImagemProdutos/Headsets/HeadsetHyperX.png" alt="Headset" id="notebook">
                <p class="mais-vendidos-letterLayout">Headset Gamer HyperX Cloud</p>
                <p class="mais-vendidos-letterLayout">Stinger, Drivers 50mm</p>
                <p class="mais-vendidos-letterLayout">Múltiplas Plataformas, P2 e P3</p><br>
                <p class="mais-vendidos-letterLayout"><strong>R$ 249,90</strong></p>
            </div>
        </div>
    </div>
    <div class="suporte-banner">
        <p style="font-weight: bold;">
            Suporte Kabonga!
        </p>
        <p>
            Entre em contato conosco: 0800 045 5003
        </p>
        <p>
            Caso prefira, <a href="~/Site/Suporte.cshtml" target="_blank" class="suporte-link"
                             style="text-decoration:underline;">clique aqui.</a>
        </p>
        <p style="font-size: 11px;">Copyright © Todos os direitos reservados.</p>
    </div>
</body>

</html>