@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Sobre o Kabonga!</title>
    <link rel="stylesheet" href="~/CSS/Sobre.css">
    <link rel="icon" type="image/x-icon" href="~/kabonga.icon.png">
</head>

<body>
    <div class="border-apresentacao">
        <header>Sobre o Kabonga!</header>
        <div class="p-espacamento"></div>
    </div>
    <div class="border-apresentacao">
        <div class="div-descricao">
            <p class="suporte-descricao">
                Kabonga é o maior e-commerce do mercado de eletrônicos, concorrendo a níveis
                interncionais.
            </p>
            <p class="suporte-descricao">
                Kabonga é uma plataforma com dimensões fora da curva; nela você encontrará,
                desde
                produtos desejados, até produtos inovadores, os quais você se interesserá.
            </p>
        </div>
    </div>
    <div class="border-apresentacao">
        <div class="div-descricao">
            <p class="suporte-descricao">
                Nosso objetivo é proporcionar uma experiência inesquecível e formar um vínculo
                de,
                principalmente, confiança para nossos clientes.
            </p>
            <h3 style="font-size:20px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                Objetivos como Empresa:
            </h3>
            <ul>
                <li>Qualidade</li>
                <li>Confiança</li>
                <li>Variedade de produtos</li>
                <li>Parceria</li>
                <li>Satisfação</li>
            </ul>
        </div>
    </div>
    <div class="div-descricao">
        <p class="suporte-descricao">
            Além disso, em caso de quaisquer dúvidas referente a produtos, preços,
            parcerias
            externas, horário de funcionamento, possuímos uma equipe de Suporte ao Cliente totalmente qualificada, a
            qual saciará quaisquer tipos de dúvidas.
        </p>
    </div>
    <div class="suporte-banner">
        <p style="font-weight: bold;">
            Suporte Kabonga!
        </p>
        <p>
            Entre em contato conosco: 0800 045 5003
        </p>
        <p>
            Caso prefira, <a href="~/Site/Suporte.cshtml" target="_blank" class="suporte-link" style="text-decoration:underline;">clique aqui.</a>
        </p>
        <p style="font-size: 11px;">Copyright © Todos os direitos reservados.</p>
    </div>
</body>

</html>