@{
    Layout = "~/Site/cadastro.cshtml";
}


<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Suporte Kabonga!</title>
    <link rel="stylesheet" href="C:\Users\fatec.senai\Desktop\KabongaProject\Kabonga\Paginas\CSS\Suporte.css">
    <link rel="icon" type="image/x-icon" href="C:\Users\fatec.senai\Desktop\KabongaProject\Kabonga\kabonga.icon.png">
    <link rel="stylesheet" href="">
</head>

<body>
    <div class="border-apresentacao">
        <header>Suporte</header>
        <div class="p-espacamento"></div>
    </div>
    <div>
        <img src="C:\Users\fatec.senai\Desktop\KabongaProject\Kabonga\Paginas\ImagemSuporte\suportePNG.png" class="soraka">
    </div>
</body>

</html>