@{
    Layout = null;
}


<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Suporte Kabonga!</title>
    <link rel="stylesheet" href="~/CSS/Suporte.css">
    <link rel="icon" type="image/x-icon" href="~/kabonga.icon.png">
    <link rel="stylesheet" href="">
</head>

<body>
    <div class="border-apresentacao">
        <header>Suporte</header>
        <div class="p-espacamento"></div>
    </div>
    <div>
        <img src="~/Imagens/ImagemSuporte/suportePNG.png" class="soraka">
    </div>
</body>

</html>